{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-4">Customers</h1>
<div class="row">
    {% for customer in data %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for('customer_detail', ORDER_ID=customer.id) }}" class="text-decoration-none text-dark">{{ customer.name }}</a>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}